.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as necessary */
    background-color: aliceblue;
}

.home h1 {
    text-align: center;
}